/* Main Container */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  padding: 2rem;
}
/* Flashcard Container */
.flashcardContainer {
  position: relative;
  width: 600px;
  height: 400px;
  perspective: 1000px;
  margin-bottom: 2rem;
}
/* Arrows */
.leftArrow, .rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 4;
}
.leftArrow {
  left: -50px;
}
.rightArrow {
  right: -50px;
}
.flipCard {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.flipCard:hover {
  transform: scale(1.02);
  transition: transform 0.6s ease;
}
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.flipCard.flip .flipCardInner {
  transform: rotateY(180deg);
}
.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
}
.flipCardFront {
  
}
.flipCardBack {
  transform: rotateY(180deg);
}
/* Card Content */
.cardHeader, .cardContent {
  position: relative;
  z-index: 2;
}
.cardHeader {
  position: absolute;
  top: 10px;
  left: 10px;
}
.questionNumber {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.cardContent {
  text-align: center;
  padding: 0 1rem;
}
.questionText {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: #000;
}
.answerText {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: #000;
}
.explanationText {
  font-size: 1rem;
  margin-top: 1rem;
  color: #333;
}